@use "../abstracts" as *;


.navigation {


  &__main {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    padding: 1.5rem $mobile-spacing;
    @include tablet {
      padding: 2rem $tablet-spacing;
    }
    @include desktop {
      padding: 2rem $desktop-spacing;
    }
  }

  &__logo {
    text-transform: uppercase;
    font-weight: 600;
  }

  &__menu {
    //background-color: green;
    padding: 1.3rem $mobile-spacing;
    @include tablet {
      padding: 0 $tablet-spacing;
    }
    @include desktop {
      padding: 0 $desktop-spacing;
    }
  }

  &__other {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    @include tablet {
      gap: 2rem;
    }

    a {
      text-transform: capitalize;
    }
  }

  &__menu_btn {
    display: flex;
    cursor: pointer;
    gap: .4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;

    &--open {
      span {

        &:nth-child(2) {
          transform: translateY(-.8rem);
        }
      }
    }

    span {
      display: inline-block;
      @include size(.5rem);
      border-radius: 50%;
      background-color: white;
      transition: all .2s ease;

    }
  }

  &__create {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1.4rem;
    border-radius: 0;
    transition: all .2s ease;
    background-color: transparent;
    color: $primary-text-color;
    border: none;
    @include tablet {
      background-color: $primary-text-color;
      color: $primary-bg-color;
      padding: .5rem 2rem;
    }

    &:hover {
      color: $primary-text-color;
      background-color: transparent;
    }

    span {
      display: inline-block;

      &:first-of-type {
        font-size: 2rem;
        @include tablet {
          display: none;
        }
      }

      &:last-of-type {
        display: none;
        @include tablet {
          display: inline-block;
        }
      }
    }
  }
}