@use "../abstracts" as *;


.home {
  margin: 2rem 0;
  @include normalizePadding;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__more {
    margin-top: 2rem;
    font-size: 1.2rem;
    padding: 1rem 1.2rem;
    border: 1px solid rgba($primary-text-color, .2);
    text-transform: capitalize;
    display: inline-block;
    transition: all .2s ease;
    width: fit-content;
    align-self: center;

    &:hover {
      background-color: rgba($primary-text-color, .2);
    }
  }

  &__posts {
    text-transform: capitalize;
    font-size: 1.4rem;
    padding: .8rem 1rem;
    background-color: $primary-text-color;
    color: $primary-bg-color;
    transition: all .2s ease;
    width: fit-content;

    &:hover {
      background-color: $primary-bg-color;
      color: $primary-text-color;
    }
  }
}

