$primary-bg-color: black;
$primary-text-color: white;
$secondary-text-color: #383839;

$placeholder-bg-color: #383839;

$font-family: Roboto, Helvetica, sans-serif, Serif;

$desktop-spacing: 15%;
$tablet-spacing: 5%;
$mobile-spacing: 2rem;
